:root {
    --black: #2d3142;
    --darkBlue: #4f5d75;
    --grey: 191, 192, 192;
    --customBlue: #4F7896;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}
a{
    text-decoration: underline;
    color: var(--grey);
    transition: all 1s ease-in-out;
}

a:hover{
    scale: 1.05;
}


#navBar{
    
    top: 0;
    width: 100%;
    margin-bottom: 1vw;
    padding-bottom: 1vh;
    background-color:var(--white);

    
}

.logo{
    height: 30px;
    object-fit: contain;
}


.navItems{
    display: flex;
    flex-direction: row;
    

}

.navItems a{
    padding-top: 1vh;
    margin-right: 2vw;
    text-decoration: none;
    color: black;
    
}

.parentDiv{
   
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1vw;

    
    width: 90vw;
  
    
    
}

/*add min height and width*/
.testDiv{
    
    
    
    
    /*min-width: 10vw;*/
    min-height: 30vh;
    
    
    border: solid .07vw black;
    border-radius: 15px;
    box-shadow:0 5px 5px;
    padding: 1vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    
    background: linear-gradient(var(--gradient));
    /*transform: translateX(var(--offset)) translateZ(var(--depth)) scale(var(--scale));*/    

    /*going to make the divs fade in since they aren't automatic*/
    opacity: 0;
    transition: all 0.8s ease-in-out;
    
}

.testDiv.show{
    opacity: 1;
}
.testDiv:hover{
   
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.mainTable{
    border: solid 1px rgba(var(--grey), 0.5);
    border-radius: 15px;
    
    border-collapse: separate;
    border-spacing: 0;   
    width: 50vw;
    overflow: hidden;
    
    
}

.tableRow{
    
}

td{
    border-bottom: solid 1px rgba(var(--grey), 0.5);
    padding: 1vw;
}

.infoText{
    color: var(--customBlue);
    
}

.weatherText{
    background-image: linear-gradient(var(--gradient));
     background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
/*3d
.testDiv:nth-child(1){
    transform: translateX(0px) translateZ(0px) scale(1);
    z-index: 3;
}

.testDiv:nth-child(2){
    transform: translateX(20px) translateZ(-50px) scale(0.95);
    z-index: 2;
    
}

.testDiv:nth-child(3){
    transform: translateX(40px) translateZ(-100px) scale(0.90);
    z-index: 1;
    
}
*/
#creditContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80vw;
    
}

.creditDiv{
    background-color: var(--darkBlue);
    min-height: 30vh;
    max-width: 30%;
    
    display: flex;
    
    flex-direction: column;

    border: solid .07vw black;
    border-radius: 15px;
    box-shadow:0 5px 5px;
    padding: 1%;
    
}