<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Index Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
</head>

<body>
    <header id="navBar">
    <div class="navItems">
        <img id="cloudImage" src="{{url_for('static', filename='images/cloud.jpg')}}" class="logo">
        <a href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('credits')}}">Credits</a>
    </div>
    </header>
    <br>
    <h1>place holder</h1>
    <h2 id="loadingText">Loading...</h2>
    <div id="location"></div>

    <!--where we will building the table-->
    <div class="tableContainer">
        <h3>8-Day Averages</h3>
        <table class="mainTable">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Weather</td>
                    <td>Average</td>
                </tr>
            </thead>
            <tbody id="currentTableBody">
                <!-- really all we need to do is add the table rows -->
                
            </tbody>
        </table>
    </div>

    <div class="tableContainer">
        <h3>Last Year's Average</h3>
        <table class="mainTable">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Weather</td>
                    <td>Average</td>
                </tr>
            </thead>
            <tbody id="pastTableBody">
                <!-- really all we need to do is add the table rows -->
                 
            </tbody>
        </table>
    </div>

    <!---this div is where the child divs will be 
    created dynamically and populated based on the date we receive-->
    <div class="parentDiv" id="mainContainer">

    <!--
    <div class="testDiv">
        <p>Date</p>
        <p>Average Temp Today</p>
        <p>Average Temp Last Year</p>

    </div>
    <div class="testDiv">div 2</div>
    <div class="testDiv">div 3</div>
    -->
    </div>



    <script src="{{ url_for('static', filename='script.js') }}" ></script>
</body>
</html>